body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.navlinks {
  display: flex;
  padding: 5px;
  width: auto;
  margin-left: auto;
}

a, a:hover, a:visited {
  color: seashell;
  padding: 10px;
}

.logo {
  height: 50px;
  width: auto;
  padding-left: 10px;
  margin: 0;
}

.mission {
  display: flex;
  width: 1200px;
  height: 700px;
  align-items: center;
  margin: 0 auto;
  background-image: url(../images/img-mission-background.jpg);
}

.missiontext {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  width: inherit;
}

.menu {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.menu.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tea img {
  height: 200px;
  width: 300px;
}

.tea p {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.locations {
  display: flex;
  height: 500px;
  width: 1200px;
  background-image: url(../images/img-locations-background.jpg);
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loctext {
  padding: 15px 0;
}

.locinfo {
  display: flex;
  width: inherit;
  justify-content: center;
}

.stores {
  display: flex;
  width: 300px;
  background-color: black;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  margin: 0 20px;
}

.footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer h5, .footer h2 {
  margin: auto;
}

.copyright {
  padding-left: 20px;
}
