body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

img {
  max-height: 100%;
  max-width: 100%;
}

.navbar {
  display: flex;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  margin: 0;
  height: 69px;
  width: 100%;
  z-index: 1;
  align-items: center;
}

.navlinks {
  display: flex;

}

a:hover, a:visited {
  color: seashell;
}

.logo {
  height: 50px;
  width: auto;
  padding-left: 10px;
  margin: 0;
}
